<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @*@Styles.Render("~/Content/css")*@
        @Styles.Render("~/bundles/fileupload/bootstrap/BasicPlusUI/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
        <noscript><link rel="stylesheet" type="text/css" href="~/Content/FileUpload/css/jquery.fileupload-ui-noscript.css" /></noscript>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/fileupload/bootstrap/BasicPlusUI/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
